---
version: ~> 1.0

os: linux
language: python

python:
  - "3.8"
  - "3.7"
  - "3.6"
  - "3.5"

services: docker

cache:
  pip: true
  directories:
  - .tox

notifications:
  email:
    on_success: never
    on_failure: never
  slack:
    rooms:
      secure: gsiI3V9oM/ORGuqRM+Nqy4CQ/OHhhSoJ22o6RQF7ylUgma1b1vcJMV49TU/U8ar7ROuQVp7FVmRWNwW+mKB4jmIAqTokV7k8JkI7mFi2eCWA4LxRIFFsFDNi8dP/Q6KJ81ixe1B7FEE1yvTv6i83qmqA0Yno0yjmafU0dS1fuc6m5fY9xkYQKQn+IEDyTkSR4wo0rurVQKVPeUR+vVxB8KVswOtSfhhkm/J5V8EGYgADx7+37U7Ds36eFUy0pSfQ9QwHQQ5kBrZ0pJolikwsRcvcl13i14xXpsEi2N+0PTnOa0P0LQctDib6cOjZw1jlOlbAdXwnGcvO7t7SXUDd/RbOnzzRaSgp2w5Hn7VD4QNCs5vdsTakTt97d5EhSefzisNqwHpidoNXrZjPvIybAbFHRL2tvhyRUBcYfRf0GI+qQoArueAGG+FM836kIrkC5Zo09Z2sLry5sp+wlvidVJQR8rykuN8G7Cw2I9IG1c+04hNBZlG52w7FOyQM2BoriNZDSnQDTEZ99e+IGtuNYmXUeqee164Rr06pSXL3mNfG4XvJ4E28/y9+fMhn3FvIOow0iyxRgP4T0XS/kliWLXtZo7Kz37+H34FXn1z1Kd9CoKmQvEaGKqkKyv1QQtpaOtiZorL9hFJwUsnrgpNt9tPtlneugOgniewDz20Dx7o=
    template:
      - "%{commit_subject}"
      - "build <%{build_url}|#%{build_number}> (<%{compare_url}|%{commit}>) @%{branch}"
      - "by %{author} %{result} in %{duration}"
    on_success: never
    on_failure: always

install:
  - pip install tox-travis

env:
  jobs:
    # ansible:latest - check for breaking changes
    # - TOX_DISTRO="alpinelatest"     TOX_ANSIBLE="latest"
    # - TOX_DISTRO="alpine310"        TOX_ANSIBLE="latest"
    # - TOX_DISTRO="alpine39"         TOX_ANSIBLE="latest"

    # - TOX_DISTRO="centoslatest"     TOX_ANSIBLE="latest"
    # - TOX_DISTRO="centos8"          TOX_ANSIBLE="latest"
    # - TOX_DISTRO="centos7"          TOX_ANSIBLE="latest"
    
    # - TOX_DISTRO="clearlinuxlatest" TOX_ANSIBLE="latest"

    - TOX_DISTRO="debianlatest"     TOX_ANSIBLE="latest"    MOLECULE_DEBUG="true"
    - TOX_DISTRO="debianstable"     TOX_ANSIBLE="latest"    MOLECULE_DEBUG="true"
    - TOX_DISTRO="debian10"         TOX_ANSIBLE="latest"    MOLECULE_DEBUG="true"
    - TOX_DISTRO="debian9"          TOX_ANSIBLE="latest"    MOLECULE_DEBUG="true"
    - TOX_DISTRO="debian8"          TOX_ANSIBLE="latest"    MOLECULE_DEBUG="true"

    # - TOX_DISTRO="fedoralatest"     TOX_ANSIBLE="latest"
    # - TOX_DISTRO="fedora30"         TOX_ANSIBLE="latest"
    # - TOX_DISTRO="fedora29"         TOX_ANSIBLE="latest"
    # - TOX_DISTRO="fedora28"         TOX_ANSIBLE="latest"
    
    # - TOX_DISTRO="opensuselatest"   TOX_ANSIBLE="latest"
    # - TOX_DISTRO="opensuse15"       TOX_ANSIBLE="latest"
    
    # - TOX_DISTRO="ubuntulatest"     TOX_ANSIBLE="latest"
    # - TOX_DISTRO="ubuntu2004"       TOX_ANSIBLE="latest"
    # - TOX_DISTRO="ubuntu1904"       TOX_ANSIBLE="latest"
    # - TOX_DISTRO="ubuntu1804"       TOX_ANSIBLE="latest"
    # - TOX_DISTRO="ubuntu1604"       TOX_ANSIBLE="latest"

    # # ansible: check version compatibility
    # # only test currently supported ansible versions
    # # https://docs.ansible.com/ansible/latest/reference_appendices/release_and_maintenance.html#release-status
    # - TOX_DISTRO="alpinelatest"     TOX_ANSIBLE="{29,28}"
    # - TOX_DISTRO="alpine310"        TOX_ANSIBLE="{29,28}"
    # - TOX_DISTRO="alpine39"         TOX_ANSIBLE="{29,28}"

    # - TOX_DISTRO="centoslatest"     TOX_ANSIBLE="{29,28}"
    # - TOX_DISTRO="centos8"          TOX_ANSIBLE="{29,28}"
    # - TOX_DISTRO="centos7"          TOX_ANSIBLE="{29,28}"
    
    # - TOX_DISTRO="clearlinuxlatest" TOX_ANSIBLE="{29,28}"

    # - TOX_DISTRO="debianlatest"     TOX_ANSIBLE="{29,28}"
    # - TOX_DISTRO="debianstable"     TOX_ANSIBLE="{29,28}"
    # - TOX_DISTRO="debian10"         TOX_ANSIBLE="{29,28}"
    # - TOX_DISTRO="debian9"          TOX_ANSIBLE="{29,28}"
    # - TOX_DISTRO="debian8"          TOX_ANSIBLE="{29,28}"

    # - TOX_DISTRO="fedoralatest"     TOX_ANSIBLE="{29,28}"
    # - TOX_DISTRO="fedora30"         TOX_ANSIBLE="{29,28}"
    # - TOX_DISTRO="fedora29"         TOX_ANSIBLE="{29,28}"
    # - TOX_DISTRO="fedora28"         TOX_ANSIBLE="{29,28}"
    
    # - TOX_DISTRO="opensuselatest"   TOX_ANSIBLE="{29,28}"
    # - TOX_DISTRO="opensuse15"       TOX_ANSIBLE="{29,28}"
    
    # - TOX_DISTRO="ubuntulatest"     TOX_ANSIBLE="{29,28}"
    # - TOX_DISTRO="ubuntu2004"       TOX_ANSIBLE="{29,28}"
    # - TOX_DISTRO="ubuntu1904"       TOX_ANSIBLE="{29,28}"
    # - TOX_DISTRO="ubuntu1804"       TOX_ANSIBLE="{29,28}"
    # - TOX_DISTRO="ubuntu1604"       TOX_ANSIBLE="{29,28}"
  
script:
  - tox -e $(echo py${TRAVIS_PYTHON_VERSION} | tr -d .)-ansible${TOX_ANSIBLE}-${TOX_DISTRO}
   # remove logs/pycache before caching .tox folder  
  - |
    rm -r .tox/py*/log/*                                                               
    find . -type f -name '*.py[co]' -delete -o -type d -name __pycache__ -delete
